*.pyc
_version.py
__pycache__
build/
dist/
sdist/
*.egg-info/
vivado_prj
.vscode
my-hls-test
*.tar.gz
docs/_build
docs/autodoc/*
hls4mlprj_*
*~
*.ipynb_checkpoints/
*.bak
.venv_*/
outputs/
.python-version
project/data/
project/notebooks/results/
project/notebooks/results_sem_batchnorm/
project/notebooks/cnn_quant*
new_project/data/
new_project/outputs/