*.pyc
_version.py
__pycache__
build/
dist/
sdist/
*.egg-info/
vivado_prj
.vscode
my-hls-test
*.tar.gz
docs/_build
docs/autodoc/*
hls4mlprj_*
*~
*.ipynb_checkpoints/
*.bak
.venv_hls4ml/
.venv_hls4ml_p/
outputs/
.python-version
project/data/