# Core
hls4ml

# TensorFlow + Keras
tensorflow==2.13.1
keras==2.13.1
qkeras==0.9.0

# ONNX pipeline
onnx
qonnx
onnxoptimizer
onnxruntime

# Base científica
numpy<2.0
pandas
scipy
scikit-learn
matplotlib
datasets

# Utilidades
kaggle
pyyaml
tqdm
pydot
graphviz
seaborn
setuptools
pyarrow
fastparquet
